/* 侧边目录容器（Apple风格 + 暗色） */
#post-toc {
    position: fixed;
    top: 60px;
    right: 20px;
    width: 235px;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: auto;
    padding: 1px;
    font-size: 14px;
    line-height: 1.6;
    z-index: 9999;
    background-color: #ffffff; /* 纯白色背景 */
    border: 1px solid #000000; /* 纯黑色边框 */
  }
  
  /* 隐藏时 */
  #post-toc.hidden {
    display: none;
  }
  
  
  /* 目录列表 */
  #post-toc ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  #post-toc ul ul {
    padding-left: 1em;
  }
  

  #post-toc a {
    text-decoration: none;
    transition: color 0.2s ease;
    color: #000000;
  }
  
  #post-toc a:hover {
    text-decoration: underline;
    color: #000000;
  }
  
  /* 自定义滚动条 */
  #post-toc::-webkit-scrollbar {
    width: 1px;
  }
  
  #post-toc::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
  
  /* 切换按钮 */
  #toc-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    line-height: 36px;
    font-size: 18px;
    font-size: 150%;
    color: #000000;
    z-index: 9999;
  }
  
  #toc-toggle:hover {
    font-size: 160%;
  }
  
  #toc-toggle::after {
    content: "≡";
    display: block;
  }
  