<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
    {{ if eq .Site.Params.mode "light" }}
      <link rel="stylesheet" href="{{ "css/light.css" | relURL }}" />
    {{ else if eq .Site.Params.mode "dark" }}
      <link rel="stylesheet" href="{{ "css/dark.css" | relURL }}" />
    {{ else  }}
      <link rel="stylesheet" href="{{ "css/light.css" | relURL }}"  media="(prefers-color-scheme: light)" />
      <link rel="stylesheet" href="{{ "css/dark.css" | relURL }}"  media="(prefers-color-scheme: dark)" />
    {{ end }}

    {{ if .Site.Params.fastSearch -}}
      {{ if eq .Site.Params.mode "light" }}
        <link rel="stylesheet" href="{{ "css/search-light.css" | relURL }} " />
      {{ else if eq .Site.Params.mode "dark" }}
        <link rel="stylesheet" href="{{ "css/search-dark.css" | relURL }} " />
      {{ else  }}
        <link rel="stylesheet" href="{{ "css/search-light.css" | relURL }} "  media="(prefers-color-scheme: light)">
        <link rel="stylesheet" href="{{ "css/search-dark.css" | relURL }} "  media="(prefers-color-scheme: dark)">
      {{ end }}
    {{- end}}

    {{ partial "head_custom.html" . }}
  </head>
    <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
        <li><a href="{{ .URL | relURL }}">{{ i18n .Name | default .Name }}</a></li>
      {{ end }}

      <!-- 增加翻译按钮 -->
      <li> 
        {{ with .Translations }}
          {{ range . }}
            <a href="{{ .RelPermalink }}">{{ i18n .Lang }}</a>
          {{ end }}
        {{ end }}
      </li>
      <!-- 增加搜索按钮 -->
      {{ if .Site.Params.fastSearch -}}
        <li id="search-click" class="menu-item">
            <a class="menu-item-link" href="javascript:void(0)">{{i18n "Search"}}</a>
        </li>
      {{- end }}

      <!-- 订阅按钮 -->
      <li class="menu-right" >
        <a href="{{ .Lang | relURL}}/index.xml"><i class="fa fa-rss"></i></a>
      </li>

    </ul>
    <hr/>
    </nav>
    {{ if .Site.Params.fastSearch -}}
<div id="fastSearch">
    <input id="searchInput">
    <ul id="searchResults"></ul>
</div>
{{- end }}
